* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variaveis */

:root {
    /* Cores */
    --gray-100: #1F2523;
    --gray-200: #4D5C57;
    --gray-300: #CDD5D2;
    --gray-400: #E4ECE9;
    --gray-500: #F9FBFA;
    --white: #FFFFFF;

    --green-100: #1F8459;
    --green-200: #2CB178;
    --danger: #B51919;

    --ff-openSans: 'open sans', 'sans-serif'
}

body {
    font-family: var(--ff-openSans);
    background-color: var(--gray-400) ;
    color: var(--gray-200);
    display: flex;
    flex-direction: column;
   
}

ul[role="list"] li {
    list-style: none;
}

.container {
    max-width: 80rem;
    display: flex;
    gap: 1.25rem;
    margin: auto;
}

 .logo {
    width: 6.31581rem;
    align-self: flex-start;
  }

fieldset {
    border: none;
}
